doctype html
//  saved from url=(0031)https://cdn.politepop.com/demo/ 
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Demo - Delight readers with Polite Pop
    link(rel='icon' href='https://fav.farm/%F0%9F%92%8C')
    link(rel='stylesheet', type='text/css', href=asset('./popup_demo_files/polite-pop.min.css'))
    link(rel='stylesheet', type='text/css', href=asset('./popup_demo_files/demo.css'))
    link(rel='stylesheet', type='text/css', href=asset('./popup_demo_files/circular-progress.css'))
  body(cz-shortcut-listen='true')
    style.
      /* Centered section inside the top navigation */
      .topnav-centered {
        text-align: center
      }
      .topnav-centered ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        background-color: #1D2741;
      }
      .topnav-centered li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover:not(.active) {
        background-color: #1D2741;
      }

      .active {
        background-color: #00C411;
      }
    .topnav-centered
      ul
        if currentUser.appUser.is_admin == true
          li
            a(href="/app/admin")
              | Admin
        li
          a(href="/app/user")
            | Popup Configurator
        li
          a(href="/app/demo").active
            | Popup Demo
        li
          a(href="/user/account")
            | Account
        li
          a(href="/user/profile")
            | Profile
    .container
      div(hidden, id="token", data-token=token)
      div(hidden, id="profile", data-profile="user") // Determines the user profile.
      h2(style='margin-bottom: 3px; color: #98BBFF;')
        i Polite Pop Demo!
      h1(style='margin-top: 0;') Marketing a Product with $0 Budget
      div(style='position: relative; top: -1.2rem; margin-bottom: 1.25rem; opacity: .5; color: #B1D6FF; font-style: italic;')
        | By 
        span(style='text-decoration: underline; text-decoration-style: dotted; text-decoration-color: rgba(255,255,255,.4);') David Miranda
      p I have a few weeks to bootstrap a new product.
      p
        | Here’s everything I plan to do to make sure this product succeeds 
        i without spending a dollar!
      h3(style='color: #FF8DB4;') Let’s start at the end
      ul
        li Your product is making $5k MRR
        li You’re invited onto podcasts to talk about your journey
        li Customers hear about your product organically and recommend it to each other
      h3(style='color: #FF8DB4;') Let’s talk about you
      ul
        li You don’t love doing marketing or cold sales
        li You don’t want to spam people
        li You’re very good at building things, but not as good at finding customers for them
      h3(style='color: #FF8DB4;') The ideal journey
      ol
        li You release your product
        li It goes viral
        li Newsletters, blogs, podcasts, and influencers all talk about it
        li People sign up in droves
        li You convert a high percentage of them to paid customers
        li They genuinely enjoy using the product and find it essential, leading to low drop-off
      p This is what people see from the outside.
      p But, I’ve learned with the raw pain of experience that launching a good product is simply not enough. It’s the equivalent of walking into a bar and expecting to be approached by the most attractive suitors there because you’re a very good person on the inside.
      h3(style='color: #FF8DB4;') The real journey
      p What the realideal journey looks like behind the scenes:
      ol
        li Build up an audience over many years
        li Form connections with bloggers, podcasters, and newsletter writers
        li Prime the market with private demos, testimonials, and glowing reviews
        li Let happy customers write the copy of your homepage
        li Diligently watch clients onboard and improve this process until they can get to the “wow” moment of your product on their own without explanation
        li Announce your launch ahead of time
        li Launch to your personal audience as well as your connections all around the same time
        li Hope that the combination of a good product + a good message + a bunch of excited people talking about it = a launch that goes viral
      h3 The most important ingredients
      ul
        li
          | Find a problem people are 
          i desperate
          |  to solve
        li
          | Find the people who are 
          i desperate
          |  to solve it
        li Launch to them!
      p A successful Product Hunt or Hacker News launch doesn’t matter much if you don’t get many actual customers from it. So, you need to understand your audience first.
      h3 The biggest obstable: establishing customer demand
      p One or all of these things can get in the way of a successful product that — at first — looks like it’s solving an important problem:
      ul
        li The customer already has an established solution that’s hard to break away from
        li The customer isn’t willing to spend lots of money on a solution
        li The customer doesn’t understand that they have a problem
        li You can’t find a single, pressing problem because the market’s so wide and competitive
        li It’s hard to pin down a single idea of a customer because there’s not a public place where they tends to hang out
      h3 Solving the biggest obstacle
      p The above problems all boil down to:
      p
        i Finding where potential customers hang out. And marketing to them in a way that doesn’t feel spammy.
      p Consistently talking to customers = you win.
      h3 The standard strategies for talking to customers
      ul
        li Viral launch (other people start talking about you organically)
        li Find places that support and allow free product launches
        li Build up a fan base
        li Run targeted ads
        li Do content marketing
        li Do side project marketing
        li Build in public
        li Focus on SEO
        li Cold emails
        li Talk about your journey on podcasts
      p Don’t just throw money at these strategies and hope everything works out.
      p Instead, take it step by step, and only start doing the difficult, hard-to-scale activities after you’ve organically start getting traction.
      p This will make everything easier.
      h3 Use the strategies in the right order
      p Here’s how to grow your product organically:
      ol
        li Build up an audience on social media and on an email list
        li Come up with an product idea
        li Figure out why you care about that idea (dig deep)
        li Talk about why you care about it and see if other people do to
        li Get some of them (including friends) on the phone
        li Ask them to prepay for early access to the product
        li If you can’t get them to pay, change the message or the idea or the audience
        li Find something that people are begging you to pay for
        li Start building an early prototype
        li Talk about every step of the process to your email and social media friends
        ol(type='a')
          li Share doubts
          li Share insights
          li Share problems
          li Share solutions
          li Share successes
        li Release the early prototype to a few early friends
        li Improve it until it’s really good and they can’t stop saying good things about it
        li Ideally, make it solve 1 thing really well instead of 10 things semi-well
        li Once they love it, ask them to describe it — put what they say on the homepage
        li Tease people with early testimonials and run a giveaway for early access
        li Tease the launch
        li Launch on the general product launch sites
        li Talk to early customers to find out what they need from your product, what it’s solving for them, what they used before to solve the same problem, what they hope it will solve in the future, what their days are like, where they hang out online, what they care about
        li Launch where they hang out — newsletters, podcasts, websites, blogs
        li Improve your product until people are consistently saying good things about it
        li Then run ads — when you can guarantee conversions
        li And run cold emails — when you know they’ll genuinely help your target audience
        li But if you feel bad about running ads and doing cold emails (like I do), there are better ways to spend your time and money
        ol(type='a')
          li For example, you could give away 80% of the value of your product by explaining how to achieve the same results in other ways and for free — in a series of blog posts, guides, ebooks, tutorial videos, and free apps that you give away
          li But save the last 20% — the hard part — as the way to do it right now, instantly, with no effort for a small fee
          li Launch these blog posts, tutorial videos, and side apps for free (not behind an email form) on all the websites you launched before
          li Link to your main product from them
        li When you achieve enough revenue, start to brag
        ol(type='a')
          li Talk about your journey on podcasts
          li Talk about your successful metrics on social media
          li Talk about how you got to where you are
          li Share your secrets
      p If you follow the above steps, you’ll build a truly useful product and describe it to your new customers in the words that make the most sense to them (i.e. the words of your existing customers).
      p This will lead to the best thing a product can do — meet & then exceed expectations.
      p Which, in turn, will lead to the best result for your business — a virtuous cycle that builds up momentum, where people talk about your product organically and recommend it to their friends, as it slowly becomes the well-established go-to solution for everyone!
      h3 This all sounds great, but how do I keep finding customers to talk to?
      p Building in public is the secret to all of this and it’s also the hardest to get right.
      p Building in public is simply this:
      ul
        li Telling a compelling story around your product
        li Admitting mistakes and overcoming challenges in public
        li Sharing your goals and being vulnerable
      p It sounds simple, but it requires a lot of work — writing, editing, refining, and publishing a story & learnings that other people will benefit from.
      p
        | It’s like producing an entirely separate media product 
        i on top of
        |  your main product development.
      p But it helps establish you as a human being who’s trying to solve a problem, something everyone can relate to.
      p If you can become that person in other people’s minds, they’ll cheer you on and tell their friends about this interesting person who’s solving a specific problem.
      h3 Cutting through the noise
      p When you publish in public, your content needs to be high-quality and helpful. If you’re not providing an immense amount of value with a tweet or email, don’t send it.
      p The reason for this is simple: noise. There is so much noise out there. So many people are grabbing attention, begging to be heard, trying to find people to buy their course or watch their latest video.
      p If you put out bad or mediocre content, you’ll not only be associated with the noise, but you’ll get discouraged — your tweets won’t get likes, your emails won’t be read, and when you finally launch, it won’t go as well as it could have gone.
      p This is the hardest part for me. I spent a ridiculous amount of time online — coding, gaming, consuming content, creating content. The idea that I need to slow down and only put things out there that are truly meaningful and helpful is absurd to me. I want to create & publish — instantly, in real-time.
      h3 Creating a story that’s bigger than yourself
      p In order to create a story that’s bigger and bolder and more beautiful than yourself — you need to have some separation from it. You need to go for walks, have a healthy life outside of work, and be willing to take a break from that blog post that’s 80% done, but doesn’t feel quite right yet.
      p That way, your self-worth isn’t tied to the results of your work. You can hit “publish” without feeling a sinking feeling in your stomach. You can edit a blog post with neutrality and the perspective of “would I want to read this?” and be honest with yourself about it.
      p When you come home from a run and you’re happy just to be alive, that’s the time to publish. When you can remain unaffected by the world’sworlds reaction to something you put your heart into.
      p Only then can you stay focused on the big picture — the overall journey — and continue on even if everything doesn’t go exactly as planned.
      p Something that can help a lot with this is to have a group of people (or at least one person) who you can show your writing to ahead of publishing it. This will slow you down and give you much needed perspective — a small, slow space to be vulnerable before you expose your inner world to the wider world.
    script(src=asset('./popup_demo_files/polite-pop.js'))
    style.crostini-styles.
      
      .crostini, .crostini * {
        box-sizing: border-box;
      }
      
      .crostini {
        position: fixed;
        z-index: 999999;
        left: 0;
        right:0;
        bottom: 30px;
        visibility: hidden;
        display: flex;
        height: 50px;
        margin: auto;
        max-width: 50px;
        background-color: #222;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        line-height: 1;
      }
      
      .crostini--top {
        top: 30px;
        bottom: auto;
      }
      
      .crostini.crostini--show.crostini--top {
        visibility: visible;
        animation: crostiniFadeinTop 0.5s, crostiniExpand 0.5s 0.5s, crostiniStay 5s 1s, crostiniShrink 0.5s 6s, crostiniFadeoutBottom 0.5s 6.5s;
      }
      
      .crostini .crostini__close-icon {
        position: relative;
        width: 50px;
        height: 100%;
        margin-left: auto;
        cursor: pointer;
        border-left: 1px solid rgba(255,255,255,.18);
        animation: crostiniSimpleFadein 1s, crostiniSimpleFadeout 1.5s 5.5s;
      }
      
      .crostini .crostini__close-icon_hover {
        background-color: rgba(255,255,255,.15);
      }
      
      .crostini .crostini__close-icon_before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 26px;
        height: 2px;
        margin: -1px 0 0 -13px;
        transform: rotate(-45deg);
        background-color: rgba(255,255,255,.85);
      }
      
      .crostini .crostini__close-icon_after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 26px;
        height: 2px;
        margin: -1px 0 0 -13px;
        transform: rotate(45deg);
        background-color: rgba(255,255,255,.85);
      }
      
      .crostini .crostini__close-icon_hover_before, .crostini .crostini__close-icon_hover_after {
        background-color: #fff;
      }
      
      .crostini .crostini__desc {
        display: flex;
        align-items: center;
        max-width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        padding: 0px 16px;
        animation: crostiniSimpleFadein 1s;
      }
      
      .crostini .crostini__desc-inner {
        position: relative;
        top: -1px;
      }
      
      .crostini.crostini--show {
        visibility: visible;
        animation: crostiniFadein 0.5s, crostiniExpand 0.5s 0.5s, crostiniStay 5s 1s, crostiniShrink 0.5s 6s, crostiniFadeout 0.5s 6.5s;
      }
      
      /* ERROR STYLES */
      
      .crostini.crostini--error {
        background-color: #c41f33;
      }
      
      .crostini.crostini--error .crostini__close-icon_hover_before, .crostini.crostini--error .crostini__close-icon_hover_after {
        opacity: 1;
      }
      
      @keyframes crostiniSimpleFadein {
        0% {opacity: 0;}
        90% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @keyframes crostiniSimpleFadeout {
        0% {opacity: 1;}
        70% {opacity: 0;}
        100% {opacity: 0;}
      }
      
      @keyframes crostiniFadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes crostiniFadeinTop {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @keyframes crostiniExpand {
        from {min-width: 50px}
        to {min-width: 360px}
      }
      
      @keyframes crostiniStay {
        from {min-width: 360px}
        to {min-width: 360px}
      }
      
      @keyframes crostiniShrink {
        from {min-width: 360px;} 
        to {min-width: 50px;}
      }
      
      @keyframes crostiniFadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 60px; opacity: 0;}
      }
      
      @keyframes crostiniFadeoutBottom {
        from {top: 30px; opacity: 1;}
        to {top: 60px; opacity: 0;}
      }
      
    script.
      PolitePop({
              loadFullStatsDisplay: true,
              fullStatsAssetsUseLocalUrls: true,
              fullStatsDisplayOptions: {
                allowArrowKeysBypass: true,
                addFormSubmissionWontSubscribeNote: true,
                showPolitePopLogo: true
              },
              modalHtml: `<h2>Go <em>beyond</em> social newsfeeds and explore the wild, undiscovered web.</h2><p>Join my weekly newsletter where you’ll see:</p><ul><li>Evolving ideas in techno-spirituality</li><li>Life-affirming art that will help you grow</li><li>New ways of communicating on the web</li></ul><p>My mission is to make the web more fun<em>!</em> 🤪</p>`
            });
      
    script(src=asset('./popup_demo_files/demo.js'))
    .circular-progress.polite-pop
      .circular-progress__heading
        img(src=asset('./popup_demo_files/demo-logo.png'))
      .circular-progress__main-container(style='display: none;')
        .circular-progress__note
          .circular-progress__note-heading Start scrolling!
          .circular-progress__note-text Polite Pop will open when:
        .circular-progress__circles-container
          .circular-progress__circle-area
            .circular-progress__circle.circular-progress__circle--scroll
              svg.circular-progress__circle-svg(style='transform: rotate(90deg)' height='100%' viewBox='0 0 110 110' width='100%')
                //  gray dashed 
                circle(cx='50%' cy='50%' fill='none' stroke-width='20' r='40' stroke='#334D80' stroke-dasharray='1.4137,1.4137')
                //  green solid 
                circle.circular-progress__progress-bar(cx='50%' cy='50%' fill='none' stroke-width='20' r='40' stroke='#77D845' style='stroke-dashoffset: 251.3274; stroke-dasharray: 251.3274;')
                //  inner black stroke 
                circle.circular-progress__progress-border(cx='50%' cy='50%' fill='none' stroke-width='1' r='27.5' stroke='#6591E7')
                //  outer black stroke 
                circle.circular-progress__progress-border(cx='50%' cy='50%' fill='none' stroke-width='1' r='52.5' stroke='#6591E7')
                g.circular-progress__success(style='display:none;')
                  //  inner solid green success 
                  circle(cx='50%' cy='50%' fill='#62CF2A' r='50')
                  //  checkmark line 
                  polyline(points='52 74, 65 60, 40 36' stroke='#fff' fill='none' stroke-width='10')
              .circular-progress__text-container
                .circular-progress__text
                  span.circular-progress__text-inner 0
                  span.circular-progress__text-percent %
            .circular-progress__label-container
              .circular-progress__label scroll:
              .circular-progress__label-note 50% of page
          .circular-progress__circle-area
            .circular-progress__circle.circular-progress__circle--timing
              svg.circular-progress__circle-svg(style='transform: rotate(90deg)' height='100%' viewBox='0 0 110 110' width='100%')
                //  gray dashed 
                circle(cx='50%' cy='50%' fill='none' stroke-width='20' r='40' stroke='#334D80' stroke-dasharray='1.4137,1.4137')
                //  green solid 
                circle.circular-progress__progress-bar(cx='50%' cy='50%' fill='none' stroke-width='20' r='40' stroke='#77D845' style='stroke-dashoffset: 251.3274; stroke-dasharray: 251.3274;')
                //  inner black stroke 
                circle.circular-progress__progress-border(cx='50%' cy='50%' fill='none' stroke-width='1' r='27.5' stroke='#6591E7')
                //  outer black stroke 
                circle.circular-progress__progress-border(cx='50%' cy='50%' fill='none' stroke-width='1' r='52.5' stroke='#6591E7')
                g.circular-progress__success(style='display:none;')
                  //  inner solid green success 
                  circle(cx='50%' cy='50%' fill='#62CF2A' r='50')
                  //  checkmark line 
                  polyline(points='52 74, 65 60, 40 36' stroke='#fff' fill='none' stroke-width='10')
              .circular-progress__text-container
                .circular-progress__text
                  span.circular-progress__text-inner 10
                  span.circular-progress__text-percent s
            .circular-progress__label-container
              .circular-progress__label time:
              .circular-progress__label-note 10s on page
      .circular-progress__pop-description-note(style='display: none;')
        span.circular-progress__pop-description-note-heading GET POLITE POP TO POP!
        |  Get the 
        b.circular-progress__mini-text scroll
        |  and 
        b.circular-progress__mini-text time
        |  progress bars to completion!
      .circular-progress__pop-exit-description-note(style='display: none;')
        span.circular-progress__pop-exit-description-note-heading
          span(style='color: #6b94e5;') (BONUS)
          |  EXIT INTENT POP
        |  Fill up the 
        b.circular-progress__mini-text time
        |  progress bar to activate the exit intent pop
      .circular-progress__pop-min-distance-scroll-note(style='display: none;')
        | You also need to scroll a minimum of 
        b.circular-progress__mini-text 500px
      .circular-progress__exit-intent-note
        span.circular-progress__exit-intent-note-heading EXIT INTENT ACTIVATED
        |  Move your mouse to the tab bar to see the exit-intent pop!
      .circular-progress__pop-popped-note(style='display: block;')
        span.circular-progress__pop-popped-note-heading YOU GOT POLITE POP TO POP!
        |  You've experienced the magic of Polite Pop!
      .circular-progress__pop-disabled-note(style='display: block;')
        span.circular-progress__pop-disabled-note-heading NO MORE POPS!
        |  Since you've already seen a pop, no more will appear for 3 days.

        button.ocean-wave-button.ocean-wave-button--restart-demo
          svg(xmlns='http://www.w3.org/2000/svg' height='20' width='20' fill='none' viewBox='0 0 24 24' stroke='#ffffff' stroke-width='2')
            path(stroke-linecap='round' stroke-linejoin='round' d='M13 7l5 5m0 0l-5 5m5-5H6')
          | RESTART DEMO
      .circular-progress__no-mobile-support-note
        span.circular-progress__no-mobile-support-note-heading NO POPS ON MOBILE
        |  Polite Pop doesn't activate on mobile because of the limited space.
