doctype html
//  saved from url=(0179)https://politepop.com/configurator/?utm_source=convertkit&utm_medium=email&utm_campaign=You+can+add+Polite+Pop+to+your+website+right+now%21+%F0%9F%92%8C+%F0%9F%A6%94%20-%208206082 
html(lang='en')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Delight readers with Polite Pop - Configurator
    link(rel='icon' href='https://fav.farm/%F0%9F%92%8C')
    link(href=asset('./popup-configurator_files/quill.snow.css'), rel='stylesheet')
    link(rel='stylesheet' type='text/css', href=asset('./popup-configurator_files/polite-pop.min.css'))
    link(rel='stylesheet' type='text/css', href=asset('./popup-configurator_files/dracula-prism.min.css'))
    link(rel='stylesheet' type='text/css', href=asset('./popup-configurator_files/common.css'))
    link(rel='stylesheet' type='text/css', href=asset('./popup-configurator_files/hint.css'))
    link(rel='stylesheet' type='text/css', href=asset('./popup-configurator_files/configurator.css'))
  body(cz-shortcut-listen='true')
    .configurator
      .page-heading
        img(src=asset('./popup-configurator_files/logo.png') alt='Polite Pop\'s Configurator')
      .page-note
        span.page-note__heading Configure Polite Pop
        |  Then copy the code to add it to your website!

      h2.configurator__item-heading Main Pop
      .configurator__item-container
        .configurator__item(data-polite-pop-configurable='main-pop')
          .polite-pop.polite-pop__pop.polite-pop__pop--main.animate
            .polite-pop__pop-hedgie-row
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--i-be-rolling(src=asset('./popup-configurator_files/i-be-rolling.png'))
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hey-whats-that(src=asset('./popup-configurator_files/hey-whats-that.png'))
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hi-there-waving-up(src=asset('./popup-configurator_files/hi-there-waving-up.png'))
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hi-there-waving-down(src=asset('./popup-configurator_files/hi-there-waving-down.png'))
            .polite-pop__pop-bubble
              .polite-pop__pop-bubble-text Hey, I've been cooking up something cool. Want to get a peek?
              .polite-pop__pop-bubble-buttons
                button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--sure Yeah sure!
                button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--nope No thanks
        .configurator__item-edit-container
          .configurator__item-editor
            .configurator__item-editor-heading Pop text
            .quill-editor.ql-container.ql-snow(data-polite-pop-option='politePopHtml')
              .ql-editor(data-gramm='false' contenteditable='true')
                p Hey, I've been cooking up something cool. Want to get a peek?
              .ql-clipboard(contenteditable='true' tabindex='-1')
              .ql-tooltip.ql-hidden
                a.ql-preview(target='_blank' href='about:blank')
                input(type='text' data-formula='e=mc^2' data-link='https://quilljs.com' data-video='Embed URL')
                a.ql-action
                a.ql-remove
          .configurator__item-editor
            .configurator__item-editor-heading Yes button text
            input.configurator__item-input(type='text' value='Yeah sure!' data-polite-pop-option='politePopYesText' data-polite-pop-edit-target='.configurator .polite-pop__pop--main .polite-pop__pop-bubble-button--sure')
          .configurator__item-editor
            .configurator__item-editor-heading No button text
            input.configurator__item-input(type='text' value='No thanks' data-polite-pop-option='politePopNoText' data-polite-pop-edit-target='.configurator .polite-pop__pop--main .polite-pop__pop-bubble-button--nope')
      h2.configurator__item-heading Exit-Intent Pop
      .configurator__item-container
        .configurator__item(data-polite-pop-configurable='exit-intent')
          .polite-pop.polite-pop__pop.polite-pop__pop--exit-intent.polite-pop__pop--right
            .polite-pop__pop-hedgie-row
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--plz-wait(src=asset('./popup-configurator_files/plz-wait-left-handed.png'))
              img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--got-bored(src=asset('./popup-configurator_files/got-bored-left-handed.png'))
            .polite-pop__pop-bubble
              .polite-pop__pop-bubble-text Want to hear about the next awesome thing I’m working on?
              .polite-pop__pop-bubble-buttons
                button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--sure Yeah sure!
                button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--nope No thanks
        .configurator__item-edit-container
          .configurator__item-editor
            .configurator__item-editor-heading Pop text
            .quill-editor.ql-container.ql-snow(data-polite-pop-option='exitIntentPopHtml')
              .ql-editor(data-gramm='false' contenteditable='true')
                p Want to hear about the next awesome thing I’m working on?
              .ql-clipboard(contenteditable='true' tabindex='-1')
              .ql-tooltip.ql-hidden
                a.ql-preview(target='_blank' href='about:blank')
                input(type='text' data-formula='e=mc^2' data-link='https://quilljs.com' data-video='Embed URL')
                a.ql-action
                a.ql-remove
          .configurator__item-editor
            .configurator__item-editor-heading Yes button text
            input.configurator__item-input(type='text' value='Yeah sure!' data-polite-pop-option='exitIntentPopYesText' data-polite-pop-edit-target='.configurator .polite-pop__pop--exit-intent .polite-pop__pop-bubble-button--sure')
          .configurator__item-editor
            .configurator__item-editor-heading No button text
            input.configurator__item-input(type='text' value='No thanks' data-polite-pop-option='exitIntentPopNoText' data-polite-pop-edit-target='.configurator .polite-pop__pop--exit-intent .polite-pop__pop-bubble-button--nope')
      h2.configurator__item-heading Modal
      .configurator__item-container
        .configurator__item(data-polite-pop-configurable='modal')
          .polite-pop.polite-pop__modal(aria-hidden='true')
            .polite-pop__modal-overlay(tabindex='-1' data-micromodal-close)
              .polite-pop__modal-container(role='dialog' aria-modal='true')
                .polite-pop__modal-hedgie
                  img(src=asset('./popup-configurator_files/hug.png'))
                .polite-pop__modal-content
                  button.polite-pop__modal-close(aria-label='Close modal' data-micromodal-close)
                  .polite-pop__modal-text
                    p Go beyond social newsfeeds and explore the wild, undiscovered web.
                    p Join my weekly newsletter where you’ll see:
                    ul
                      li Evolving ideas in techno-spirituality
                      li Life-affirming art that will help you grow
                      li New ways of communicating on the web
                    p
                      | My mission is to make the web more fun
                      i !
                      |  🤪
                  form.polite-pop__modal-form
                    .polite-pop__modal-inputs
                      .polite-pop__modal-input-container.polite-pop__modal-input-container--name
                        input#polite-pop--first-name.polite-pop__modal-input(type='text' placeholder='First name' spellcheck='false' required)
                        label.polite-pop__modal-input-label(for='polite-pop--first-name') First name
                      .polite-pop__modal-input-container.polite-pop__modal-input-container--email
                        input#polite-pop--email.polite-pop__modal-input(type='email' placeholder='Email' required)
                        label.polite-pop__modal-input-label(for='polite-pop--email') Email
                    .polite-pop__modal-button-container
                      button.polite-pop__modal-button Subscribe
                .polite-pop__modal-empty-space
        .configurator__item-edit-container
          .configurator__item-editor
            .configurator__item-editor-heading Modal text
            .quill-editor.ql-container.ql-snow(data-polite-pop-option='modalHtml')
              .ql-editor(data-gramm='false' contenteditable='true')
                p Go beyond social newsfeeds and explore the wild, undiscovered web.
                p Join my weekly newsletter where you’ll see:
                ul
                  li Evolving ideas in techno-spirituality
                  li Life-affirming art that will help you grow
                  li New ways of communicating on the web
                p
                  | My mission is to make the web more fun
                  em !
                  |  🤪
              .ql-clipboard(contenteditable='true' tabindex='-1')
              .ql-tooltip.ql-hidden
                a.ql-preview(target='_blank' href='about:blank')
                input(type='text' data-formula='e=mc^2' data-link='https://quilljs.com' data-video='Embed URL')
                a.ql-action
                a.ql-remove
          .configurator__item-editor
            .configurator__item-editor-heading Subscribe button text
            input.configurator__item-input(type='text' value='Subscribe' data-polite-pop-option='modalSubscribeButtonText' data-polite-pop-edit-target='.configurator .polite-pop__modal .polite-pop__modal-button')
      div(style='color: #a7ffc7; margin-bottom: 4px; font-weight: bold; text-transform: uppercase;') Important: Where to send subscribers?
      h2.configurator__item-heading ConvertKit & Mailchimp Integration
      .configurator__item-container
        .configurator__item-edit-container
          .configurator__item-editor
            .configurator__item-editor-heading
              | form action
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--top-right(aria-label='The URL Polite Pop calls to send new subscribers to your email list') i
            input.configurator__item-input(type='text' placeholder='https://example.com/forms/example' data-polite-pop-option='signupFormAction')
            a(href='https://politepop.com/form-action-how-to/' target='_blank' style='display: inline-block; margin-top: 0.75rem; color: #98BBFF; font-weight: 500;') How do I find this?
            |  🧐
      h2.configurator__item-heading More options
      .configurator__item-container
        .configurator__item-edit-container
          .configurator__item-editor
            .configurator__item-editor-heading
              | signup form: success message
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded(aria-label='Success message after user signs up through modal') i
            input.configurator__item-input(type='text' value='Success! You signed up! 🎉' data-polite-pop-option='newEmailSignupSuccessMessage')
          .configurator__item-editor
            .configurator__item-editor-heading
              | signup form: error message
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Error message if a user can\'t sign up due to an error') i
            input.configurator__item-input(type='text' value='Error. Signup failed.' data-polite-pop-option='newEmailSignupErrorMessage')
          .configurator__item-editor
            .configurator__item-editor-heading
              | main pop: scroll percentage required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Percentage of the page user has to scroll before the Main Pop slides in') i
            input.configurator__item-input(type='text' value='50' data-polite-pop-option='politePopScrollPercentageRequired' pattern='[0-9]|([1-9][0-9])|100' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number 1-100\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | main pop: time in seconds required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Active time user has to be on the page before the Main Pop slides in') i
            input.configurator__item-input(type='text' value='10' data-polite-pop-option='politePopTimeInSecondsRequired' pattern='[0-9]+' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | exit intent pop: scroll percentage required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Percentage of the page user has to scroll before the Exit Intent Pop can be activated') i
            input.configurator__item-input(type='text' value='0' data-polite-pop-option='exitIntentPopScrollPercentageRequired' pattern='[0-9]|([1-9][0-9])|100' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number 1-100\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | exit intent pop: time in seconds required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Active time user has to be on the page before the Exit Intent Pop can be activated') i
            input.configurator__item-input(type='text' value='10' data-polite-pop-option='exitIntentPopTimeInSecondsRequired' pattern='[0-9]+' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | days to wait before displaying again
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Days to wait after a user sees Polite Pop before it can be activated again') i
            input.configurator__item-input(type='text' value='3' data-polite-pop-option='daysToWaitBeforeDisplayingAgain' pattern='[0-9]+' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | minimum screen width in pixels required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Prevent Polite Pop from activating on screens smaller than this size (Recommended: 1000)') i
            input.configurator__item-input(type='text' value='1000' data-polite-pop-option='minScreenWidthInPixelsRequired' pattern='[0-9]+' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | minimum scroll distance in pixels required
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='Minimum distance a user has to scroll before Polite Pop can activate') i
            input.configurator__item-input(type='text' value='500' data-polite-pop-option='minScrollDistanceInPixelsRequired' pattern='[0-9]+' onblur='if (!this.checkValidity()) {this.reportValidity()};' oninvalid='this.setCustomValidity(\'Please enter a number\');' oninput='this.setCustomValidity(\'\');')
          .configurator__item-editor
            .configurator__item-editor-heading
              | display panel with polite pop's status
              span.icon.hint--top.hint--no-animate.hint--no-arrow.hint--rounded.hint--large(aria-label='RECOMMENDED FOR TESTING ONLY: Show progress towards scroll and timing requirements in a display panel') i
            .select
              select.configurator__item-input(data-polite-pop-option='loadFullStatsDisplay')
                option(value='false') Off
                option(value='true') On
            a(href='https://politepop.com/demo/' target='_blank' style='display: inline-block; margin-top: 0.75rem; color: #98BBFF; font-weight: 500;') See the display panel in action on the demo page
      h2.configurator__item-heading Add Polite Pop to your website!
      h4(style='color: #98BBFF;')
        | Copy and paste this code before the closing 
        span(style='padding: 1px 3px 2px; background-color: #233056; font-size: 15px; color: #d9e3f8; font-weight: bold; font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; border-radius: 3px;') </body>
        |  tag on your site! 🦔
      pre.language-html(tabindex='0')
        code.copy-code-source.language-html
          span.token.tag
            span.token.tag
              span.token.punctuation <
              | link
            |  
            span.token.attr-name rel
            span.token.attr-value
              span.token.punctuation.attr-equals =
              span.token.punctuation "
              | stylesheet
              span.token.punctuation "
            |  
            span.token.attr-name type
            span.token.attr-value
              span.token.punctuation.attr-equals =
              span.token.punctuation "
              | text/css
              span.token.punctuation "
            |  
            span.token.attr-name href
            span.token.attr-value
              span.token.punctuation.attr-equals =
              span.token.punctuation "
              | https://cdn.politepop.com/v1.2.4-beta/polite-pop.min.css
              span.token.punctuation "
            span.token.punctuation >
          span.token.tag
            span.token.tag
              span.token.punctuation <
              | script
            |  
            span.token.attr-name src
            span.token.attr-value
              span.token.punctuation.attr-equals =
              span.token.punctuation "
              | https://cdn.politepop.com/v1.2.4-beta/polite-pop.min.js
              span.token.punctuation "
            span.token.punctuation >
          span.token.script
          span.token.tag
            span.token.tag
              span.token.punctuation </
              | script
            span.token.punctuation >
          span.token.tag
            span.token.tag
              span.token.punctuation <
              | script
            span.token.punctuation >
          span.token.script
            span.token.language-javascript
              | 
  
              span.token.function PolitePop
              span.token.punctuation (
              span.token.punctuation {
              | 
    
              span.token.literal-property.property minScreenWidthInPixelsRequired
              span.token.operator :
              |  
              span.token.number 10005
              | 
  
              span.token.punctuation }
              span.token.punctuation )
              span.token.punctuation ;
          span.token.tag
            span.token.tag
              span.token.punctuation </
              | script
            span.token.punctuation >
      button.copy-code.ocean-wave-button
        svg(xmlns='http://www.w3.org/2000/svg' height='20' width='20' fill='none' viewBox='0 0 24 24' stroke='#ffffff' stroke-width='2')
          path(stroke-linecap='round' stroke-linejoin='round' d='M13 7l5 5m0 0l-5 5m5-5H6')
        | Copy code
    script(src=asset('./popup-configurator_files/quill.min.js'))
    script(src=asset('./popup-configurator_files/prism.js'))
    script(src=asset('./popup-configurator_files/polite-pop.js'))
    style.crostini-styles.
      
      .crostini, .crostini * {
        box-sizing: border-box;
      }
      
      .crostini {
        position: fixed;
        z-index: 1;
        left: 0;
        right:0;
        bottom: 30px;
        visibility: hidden;
        display: flex;
        height: 50px;
        margin: auto;
        max-width: 50px;
        background-color: #222;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
        line-height: 1;
      }
      
      .crostini--top {
        top: 30px;
        bottom: auto;
      }
      
      .crostini.crostini--show.crostini--top {
        visibility: visible;
        animation: crostiniFadeinTop 0.5s, crostiniExpand 0.5s 0.5s, crostiniStay 5s 1s, crostiniShrink 0.5s 6s, crostiniFadeoutBottom 0.5s 6.5s;
      }
      
      .crostini .crostini__close-icon {
        position: relative;
        width: 50px;
        height: 100%;
        margin-left: auto;
        cursor: pointer;
        border-left: 1px solid rgba(255,255,255,.18);
        animation: crostiniSimpleFadein 1s, crostiniSimpleFadeout 1.5s 5.5s;
      }
      
      .crostini .crostini__close-icon_hover {
        background-color: rgba(255,255,255,.15);
      }
      
      .crostini .crostini__close-icon_before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 26px;
        height: 2px;
        margin: -1px 0 0 -13px;
        transform: rotate(-45deg);
        background-color: rgba(255,255,255,.85);
      }
      
      .crostini .crostini__close-icon_after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 26px;
        height: 2px;
        margin: -1px 0 0 -13px;
        transform: rotate(45deg);
        background-color: rgba(255,255,255,.85);
      }
      
      .crostini .crostini__close-icon_hover_before, .crostini .crostini__close-icon_hover_after {
        background-color: #fff;
      }
      
      .crostini .crostini__desc {
        display: flex;
        align-items: center;
        max-width: calc(100% - 50px);
        overflow: hidden;
        white-space: nowrap;
        padding: 0px 16px;
        animation: crostiniSimpleFadein 1s;
      }
      
      .crostini .crostini__desc-inner {
        position: relative;
        top: -1px;
      }
      
      .crostini.crostini--show {
        visibility: visible;
        animation: crostiniFadein 0.5s, crostiniExpand 0.5s 0.5s, crostiniStay 5s 1s, crostiniShrink 0.5s 6s, crostiniFadeout 0.5s 6.5s;
      }
      
      /* ERROR STYLES */
      
      .crostini.crostini--error {
        background-color: #c41f33;
      }
      
      .crostini.crostini--error .crostini__close-icon_hover_before, .crostini.crostini--error .crostini__close-icon_hover_after {
        opacity: 1;
      }
      
      @keyframes crostiniSimpleFadein {
        0% {opacity: 0;}
        90% {opacity: 0;}
        100% {opacity: 1;}
      }
      
      @keyframes crostiniSimpleFadeout {
        0% {opacity: 1;}
        70% {opacity: 0;}
        100% {opacity: 0;}
      }
      
      @keyframes crostiniFadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes crostiniFadeinTop {
        from {top: 0; opacity: 0;}
        to {top: 30px; opacity: 1;}
      }
      
      @keyframes crostiniExpand {
        from {min-width: 50px}
        to {min-width: 360px}
      }
      
      @keyframes crostiniStay {
        from {min-width: 360px}
        to {min-width: 360px}
      }
      
      @keyframes crostiniShrink {
        from {min-width: 360px;} 
        to {min-width: 50px;}
      }
      
      @keyframes crostiniFadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 60px; opacity: 0;}
      }
      
      @keyframes crostiniFadeoutBottom {
        from {top: 30px; opacity: 1;}
        to {top: 60px; opacity: 0;}
      }
      
    script(src=asset('./popup-configurator_files/configurator.js'))
    .polite-pop.polite-pop__modal#polite-modal(aria-hidden='true')
      .polite-pop__modal-overlay(tabindex='-1' data-micromodal-close)
        .polite-pop__modal-container(role='dialog' aria-modal='true')
          .polite-pop__modal-hedgie
            img(src=asset('./popup-configurator_files/hug.png'))
          .polite-pop__modal-content
            button.polite-pop__modal-close(aria-label='Close modal' data-micromodal-close)
            .polite-pop__modal-text
              p Go beyond social newsfeeds and explore the wild, undiscovered web.
              p Join my weekly newsletter where you’ll see:
              ul
                li Evolving ideas in techno-spirituality
                li Life-affirming art that will help you grow
                li New ways of communicating on the web
              p
                | My mission is to make the web more fun
                i !
                |  🤪
            form.polite-pop__modal-form
              .polite-pop__modal-inputs
                .polite-pop__modal-input-container.polite-pop__modal-input-container--name
                  input#polite-pop--first-name.polite-pop__modal-input(type='text' placeholder='First name' spellcheck='false' required)
                  label.polite-pop__modal-input-label(for='polite-pop--first-name') First name
                .polite-pop__modal-input-container.polite-pop__modal-input-container--email
                  input#polite-pop--email.polite-pop__modal-input(type='email' placeholder='Email' required)
                  label.polite-pop__modal-input-label(for='polite-pop--email') Email
              .polite-pop__modal-button-container
                button.polite-pop__modal-button Subscribe
          .polite-pop__modal-empty-space
    .polite-pop.polite-pop__pop.polite-pop__pop--exit-intent.polite-pop__pop--right
      .polite-pop__pop-hedgie-row
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--plz-wait(src=asset('./popup-configurator_files/plz-wait-left-handed.png'))
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--got-bored(src=asset('./popup-configurator_files/got-bored-left-handed.png'))
      .polite-pop__pop-bubble
        .polite-pop__pop-bubble-text Want to hear about the next awesome thing I’m working on?
        .polite-pop__pop-bubble-buttons
          button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--sure Yeah sure!
          button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--nope No thanks
    .polite-pop.polite-pop__pop.polite-pop__pop--main
      .polite-pop__pop-hedgie-row
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--i-be-rolling(src=asset('./popup-configurator_files/i-be-rolling.png'))
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hey-whats-that(src=asset('./popup-configurator_files/hey-whats-that.png'))
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hi-there-waving-up(src=asset('./popup-configurator_files/hi-there-waving-up.png'))
        img.polite-pop__pop-hedgie.polite-pop__pop-hedgie--hi-there-waving-down(src=asset('./popup-configurator_files/hi-there-waving-down.png'))
      .polite-pop__pop-bubble
        .polite-pop__pop-bubble-text Hey, I've been cooking up something cool. Want to get a peek?
        .polite-pop__pop-bubble-buttons
          button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--sure Yeah sure!
          button.polite-pop__pop-bubble-button.polite-pop__pop-bubble-button--nope No thanks
