html
  include common/head.pug
  +head("Checkout")
  body
    include common/simple-navbar.pug
    +simple-navbar()
    div(id="data-stripe-key", data-stripe-key=stripe_public_key)
    .py-16.bg-gray-50.overflow-hidden.lg_py-24
      .relative.max-w-xl.mx-auto.px-4.sm_px-6.lg_px-8.lg_max-w-screen-xl.md_max-w-screen-xl
        div
          .md_grid.md_grid-cols-12.md_gap-6
            .mt-5.md_mt-0.md_col-span-9.md_col-start-3.lg_col-span-9.lg_col-start-3
              .shadow.sm_rounded-md.sm_overflow-hidden
                div.bg-white.px-4.py-5.border-b.border-gray-200.sm_px-6
                  h3.text-lg.leading-6.font-medium.text-gray-900
                    | Confirm Plan Change
                ul.divide-y.divide-gray-200
                  li.px-6.py-5.bg-white
                    .grid.grid-cols-3.gap-6
                      //-.col-span-3.sm_col-span-2
                        //-.py-4
                          h1.text-2xl.font-medium.leading-6.text-gray-900 Your current plan
                      div.align-middle
                        h1.text-md.font-medium.leading-6.text-gray-900 Current plan
                      div
                        .px-4.sm_px-0
                          h2.text-lg.font-medium.leading-6.text-gray-900 #{existingPlan.name}
                          //-p.mt-1.text-sm.leading-5.text-gray-600.
                            #{plan.description}
                      div
                        .px-4.sm_px-0
                          - existingPlan.billing_period = existingPlan.billing_period.charAt(0).toUpperCase() + existingPlan.billing_period.slice(1, -2);
                          p.mt-1.text-sm.leading-5.text-gray-600.
                            #{existingPlan.price_per_period} USD / #{existingPlan.billing_period}
                    //-.mt-6
                      - plan.billing_period = plan.billing_period.charAt(0).toUpperCase() + plan.billing_period.slice(1);
                      p.text-md.font-semibold.leading-5.
                        Billing Period: #{plan.billing_period}
                      p.text-md.font-semibold.leading-5.
                        Price #{plan.price_per_period}
                      //-p.mt-1.text-sm.leading-5.text-gray-600
                        | You won't be charged today. 15 Day Free Trial, Cancel Any Time. You will be charged in 
                        span.font-bold
                          | 15 days 
                        | on 
                        span.font-bold #{billing_date}.
                  li.px-6.py-5.bg-indigo-50.border-indigo-200
                    .grid.grid-cols-3.gap-6
                      //-.col-span-3.sm_col-span-2
                        //-.py-4
                          h1.text-2xl.font-medium.leading-6.text-gray-900 Your current plan
                      div.align-middle
                        h1.text-md.font-medium.leading-6.text-indigo-900 New Plan
                      div
                        .px-4.sm_px-0
                          h2.text-lg.font-medium.leading-6.text-indigo-900 #{plan.name}
                          //-p.mt-1.text-sm.leading-5.text-gray-600.
                            #{plan.description}
                      div
                        .px-4.sm_px-0
                          - plan.billing_period = plan.billing_period.charAt(0).toUpperCase() + plan.billing_period.slice(1, -2);
                          p.mt-1.text-sm.leading-5.text-indigo-600.
                            #{plan.price_per_period} USD / #{plan.billing_period}
                

        //-div.mt-5
          .md_grid.md_grid-cols-12.md_gap-6
            .mt-5.md_mt-0.md_col-span-9.md_col-start-3.lg_col-span-9.lg_col-start-3
                .shadow.sm_rounded-md.sm_overflow-hidden
                  .px-4.py-5.bg-white.sm_p-6
                    .grid.grid-cols-3.gap-6
                      .col-span-3.sm_col-span-2
                        .py-4
                          h1.text-2xl.font-medium.leading-6.text-gray-900 You are upgrading to plan
                        .px-4.sm_px-0
                          h2.text-xl.font-medium.leading-6.text-gray-900 #{newPlan.name}
                          p.mt-1.text-sm.leading-5.text-gray-600.
                            #{newPlan.description}
                    .mt-6
                      - newPlan.billing_period = newPlan.billing_period.charAt(0).toUpperCase() + newPlan.billing_period.slice(1);
                      p.text-md.font-semibold.leading-5.
                        #{newPlan.billing_period}
                      //-p.mt-1.text-sm.leading-5.text-gray-600
                        | You won't be charged today. 15 Day Free Trial, Cancel Any Time. You will be charged in 
                        span.font-bold
                          | 15 days 
                        | on 
                        span.font-bold #{billing_date}.
        .hidden.md_block
          .py-5
        .mt-10.sm_mt-0
          .md_grid.md_grid-cols-12.md_gap-6.lg_grid.lg_grid-cols-12.lg_gap-6
            .mt-5.md_mt-0.md_col-span-5.md_col-start-3.lg_col-span-5.lg_col-start-3
              //- Show existing payment method
              if paymentMethod
                .shadow.sm_rounded-md.sm_overflow-hidden
                  fieldset
                    legend.sr-only.
                    .relative.bg-white.-space-y-px
                      div.bg-white.px-4.py-5.border-b.border-gray-200.sm_px-6
                        h3.text-lg.leading-6.font-medium.text-gray-900
                          | Use Payment Method
                      //  Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" 
                      label.border-gray-200.relative.border.p-4.flex.flex-col.cursor-pointer.md_pl-4.md_pr-6.md_grid.md_grid-cols-3
                        .flex.items-center.text-sm
                          input.h-4.w-4.text-indigo-600.border-gray-300.focus_ring-indigo-500(type='radio' name='pricing_plan' value='Startup' aria-labelledby='pricing-plans-0-label' aria-describedby='pricing-plans-0-description-0 pricing-plans-0-description-1')
                          span#pricing-plans-0-label.ml-3.font-medium.text-gray-900 Startup
                        p#pricing-plans-0-description-0.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-center
                          //  Checked: "text-indigo-900", Not Checked: "text-gray-900" 
                          span.text-gray-900.font-medium $29 / mo
                          //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                          span.text-gray-500 ($290 / yr)
                        //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                        p#pricing-plans-0-description-1.text-gray-500.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-right Up to 5 active job postings
                      //  Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" 
                      label.border-gray-200.relative.border.p-4.flex.flex-col.cursor-pointer.md_pl-4.md_pr-6.md_grid.md_grid-cols-3
                        .flex.items-center.text-sm
                          input.h-4.w-4.text-indigo-600.border-gray-300.focus_ring-indigo-500(type='radio' name='pricing_plan' value='Business' aria-labelledby='pricing-plans-1-label' aria-describedby='pricing-plans-1-description-0 pricing-plans-1-description-1')
                          span#pricing-plans-1-label.ml-3.font-medium.text-gray-900 Business
                        p#pricing-plans-1-description-0.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-center
                          //  Checked: "text-indigo-900", Not Checked: "text-gray-900" 
                          span.text-gray-900.font-medium $99 / mo
                          //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                          span.text-gray-500 ($990 / yr)
                        //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                        p#pricing-plans-1-description-1.text-gray-500.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-right Up to 25 active job postings
                      //  Checked: "bg-indigo-50 border-indigo-200 z-10", Not Checked: "border-gray-200" 
                      label.border-gray-200.rounded-bl-md.rounded-br-md.relative.border.p-4.flex.flex-col.cursor-pointer.md_pl-4.md_pr-6.md_grid.md_grid-cols-3
                        .flex.items-center.text-sm
                          input.h-4.w-4.text-indigo-600.border-gray-300.focus_ring-indigo-500(type='radio' name='pricing_plan' value='Enterprise' aria-labelledby='pricing-plans-2-label' aria-describedby='pricing-plans-2-description-0 pricing-plans-2-description-1')
                          span#pricing-plans-2-label.ml-3.font-medium.text-gray-900 Enterprise
                        p#pricing-plans-2-description-0.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-center
                          //  Checked: "text-indigo-900", Not Checked: "text-gray-900" 
                          span.text-gray-900.font-medium $249 / mo
                          //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                          span.text-gray-500 ($2490 / yr)
                        //  Checked: "text-indigo-700", Not Checked: "text-gray-500" 
                        p#pricing-plans-2-description-1.text-gray-500.ml-6.pl-1.text-sm.md_ml-0.md_pl-0.md_text-right Unlimited active job postings
              else
                // Show credit card form.
                .shadow.overflow-hidden.sm_rounded-md
                  .px-4.py-5.bg-white.sm_p-6
                    form(action="/checkout", method="POST", id="payment-form")
                      .grid.grid-cols-3.gap-6
                        .col-span-3.sm_col-span-3
                          label(for="card-element") Credit or debit card
                          div(id="card-element")
                          div(id="card-errors", role="alert")
                          input(type='hidden', name="planId", value=plan.id)
                          .text-right
                            button.py-2.px-4.mt-4.border.border-transparent.text-sm.leading-5.font-medium.rounded-md.text-white.bg-indigo-600.shadow-sm.hover_bg-indigo-500.focus_outline-none.focus_ring-blue.active_bg-indigo-600.transition.duration-150.ease-in-out.track-subscribe(type="submit", id="payment-button", data-track-name=plan.name, data-track-price=plan.price_per_period, data-track-period=plan.billing_period) Submit Payment
                    form(action="/apply-coupon", method="POST")
                      div
                        label.block.text-sm.font-medium.leading-5.text-gray-700(for='first_name') Coupon Code
                        input(type="text", name="coupon", placeholder="30OFFYAY!").mt-1.focus_ring-indigo-500.focus_border-indigo-500.border-gray-300.rounded-md.block.w-full.py-2.px-3.border.border-gray-300.rounded-md.shadow-sm.focus_outline-none.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_text-sm.sm_leading-5
                        .text-right.mb-4
                          button.py-2.px-4.mt-4.border.border-transparent.text-sm.leading-5.font-medium.rounded-md.text-white.bg-indigo-600.shadow-sm.hover_bg-indigo-500.focus_outline-none.focus_ring-blue.active_bg-indigo-600.transition.duration-150.ease-in-out.
                           Apply
                      div
                        if (errors && errors.coupon)
                          span.text-lg.text-red-500
                            | #{errors.coupon}
            .mt-5.md_mt-0.md_col-span-4.md_col-start-8.lg_col-span-4.lg_col-start-8
              .shadow.sm_rounded-md.sm_overflow-hidden
                  .px-4.py-5.bg-white.sm_p-6
                    .grid.grid-cols-3.gap-6
                      .col-span-3.sm_col-span-2
                        .px-4.sm_px-0
                          h2.text-xl.font-bold.leading-6 Order Summary
                          p.mt-1.text-sm.leading-5.text-gray-600.
                            #{plan.name}
                          p.mt-1.text-sm.leading-5.text-gray-600
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature1}
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature2}
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature3}
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature4}
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature5}
                          p.mt-1.text-sm.leading-5.text-gray-600 #{plan.feature6}
                          .py-5
                            .border-t.border-gray-200
                          h5.text-lg.font-semibold.leading-6  Total:
                          if coupon
                            p(style="text-decoration:line-through; color:red").lead #{plan.price_per_period} USD
                            p.mt-1.text-sm.leading-5.text-gray-600 #{coupon.final} USD
                          else
                            p.mt-1.text-sm.leading-5.text-gray-600 #{plan.price_per_period} USD
                          if coupon
                            h5 Your Deal:
                            p.mt-1.text-sm.leading-5.text-gray-600 #{coupon.deal}
    include common/footer.pug
    +footer()
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous")
    script(src="/javascripts/checkout-v2.js")
    if coupon
      script(src="/javascripts/confetti.js")
