//-
  
    Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
    Read the documentation to get started: https://tailwindui.com/documentation
  
html
  head
    include common/head.pug
    +head("Pricing")
  body
    include common/simple-navbar.pug
    +simple-navbar()
    //  Comparison table 
    .bg-white
      .relative.w-1_2.border.border-transparent.rounded-md.py-2.text-sm.leading-5.font-medium.text-gray-700.whitespace-nowrap.hover_text-gray-500.focus_outline-none.focus_border-blue-300.focus_ring-blue.focus_z-10.active_bg-gray-50.active_text-gray-800.transition.ease-in-out.duration-150.sm_w-auto.sm_px-8
      .max-w-screen-xl.mx-auto.py-24.px-4.sm_px-6.lg_px-8
        .sm_flex.sm_flex-col.sm_align-center
          h1.text-5xl.leading-none.font-extrabold.text-gray-900.sm_text-center Pricing Plans
          p.mt-5.text-xl.leading-7.text-gray-500.sm_text-center Start building for free, then add a site plan to go live. Account plans unlock additional features.
          .relative.self-center.mt-6.bg-gray-100.rounded-lg.p-1.flex.sm_mt-8
            if plans.length > 0
              if plans[0].billing_period == "monthly"
                a(href="/pricing").relative.w-1_2.bg-white.border-gray-200.rounded-md.shadow-sm.py-2.text-sm.leading-5.font-medium.text-gray-700.whitespace-nowrap.hover_text-gray-500.focus_outline-none.focus_border-blue-300.focus_ring-blue.focus_z-10.active_bg-gray-50.active_text-gray-800.transition.ease-in-out.duration-150.sm_w-auto.sm_px-8 Monthly billing
                a(href="/pricing-yearly").relative.w-1_2.border.border-transparent.rounded-md.py-2.text-sm.leading-5.font-medium.text-gray-700.whitespace-nowrap.hover_text-gray-500.focus_outline-none.focus_border-blue-300.focus_ring-blue.focus_z-10.active_bg-gray-50.active_text-gray-800.transition.ease-in-out.duration-150.sm_w-auto.sm_px-8 Yearly billing
              else if plans[0].billing_period == "yearly"
                a(href="/pricing").relative.w-1_2.border.border-transparent.rounded-md.py-2.text-sm.leading-5.font-medium.text-gray-700.whitespace-nowrap.hover_text-gray-500.focus_outline-none.focus_border-blue-300.focus_ring-blue.focus_z-10.active_bg-gray-50.active_text-gray-800.transition.ease-in-out.duration-150.sm_w-auto.sm_px-8 Monthly billing
                a(href="/pricing-yearly").relative.w-1_2.bg-white.border-gray-200.rounded-md.shadow-sm.py-2.text-sm.leading-5.font-medium.text-gray-700.whitespace-nowrap.hover_text-gray-500.focus_outline-none.focus_border-blue-300.focus_ring-blue.focus_z-10.active_bg-gray-50.active_text-gray-800.transition.ease-in-out.duration-150.sm_w-auto.sm_px-8 Yearly billing
        form(action="/pick-plan", method="POST")
          .mt-12.space-y-4.sm_mt-16.sm_space-y-0.sm_grid.sm_grid-cols-2.sm_gap-6.lg_max-w-4xl.lg_mx-auto.xl_max-w-none.xl_mx-0.xl_grid-cols-4
            for plan in plans
              .border.border-gray-200.rounded-lg.shadow-sm.divide-y.divide-gray-200
                .p-6
                  h2.text-lg.leading-6.font-medium.text-gray-900 #{plan.name}
                  p.mt-4.text-sm.leading-5.text-gray-500 #{plan.description}
                  p.mt-8
                    if plan.is_free
                       span.text-4xl.leading-10.font-extrabold.text-gray-900 Free
                    else
                      span.text-4xl.leading-10.font-extrabold.text-gray-900 $#{plan.price_per_period}
                      - let period = plan.billing_period.slice(0,-2)
                      span.text-base.leading-6.font-medium.text-gray-500 /#{period}
                  if (currentUser && currentUser.appUser.PlanId == plan.id)
                    button(name="planId", value=plan.id, data-track-name=plan.name, data-track-price=plan.price_per_period, data-track-period=plan.billing_period, disabled).mt-8.w-full.bg-gray-500.border.border-gray-800.rounded-md.py-2.text-sm.leading-5.font-semibold.text-white.hover_bg-gray-700.focus_outline-none.focus_ring-gray.transition.duration-150.ease-in-out.track-init_checkout_plan Your Current Plan
                  else if (currentUser && currentUser.appUser.PlanId)
                    button(name="planId", value=plan.id, data-track-name=plan.name, data-track-price=plan.price_per_period, data-track-period=plan.billing_period).mt-8.w-full.bg-indigo-700.border.border-gray-800.rounded-md.py-2.text-sm.leading-5.font-semibold.text-white.hover_bg-gray-700.focus_outline-none.focus_ring-gray.transition.duration-150.ease-in-out.track-init_checkout_plan Switch to this plan
                  else
                    button(name="planId", value=plan.id, data-track-name=plan.name, data-track-price=plan.price_per_period, data-track-period=plan.billing_period).mt-8.w-full.bg-indigo-700.border.border-gray-800.rounded-md.py-2.text-sm.leading-5.font-semibold.text-white.hover_bg-gray-700.focus_outline-none.focus_ring-gray.transition.duration-150.ease-in-out.track-init_checkout_plan #{plan.cta}
                .pt-6.pb-8.px-6
                  h3.text-xs.leading-4.font-medium.text-gray-900.tracking-wide.uppercase What's included
                  ul.mt-6.space-y-4
                     - for (let i = 0; i < 10; i++)
                      if (plan.features.text[i])
                        li.flex.space-x-3
                          //  Heroicon name: check 
                          svg.flex-shrink-0.h-5.w-5.text-green-500(aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
                            path(fill-rule='evenodd' d='M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z' clip-rule='evenodd')
                          span.text-sm.leading-5.text-gray-500 #{plan.features.text[i]}
      //  Footer 
    include common/footer.pug
    +footer()
            
