//-
  
    Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
    Read the documentation to get started: https://tailwindui.com/documentation
  
html
  include common/head.pug
  +head("Reset your Password")
  body
    include common/simple-navbar.pug
    +simple-navbar()
    .min-h-screen.bg-gray-50.flex.flex-col.py-12.sm_px-6.lg_px-8
      .sm_mx-auto.sm_w-full.sm_max-w-md.mt-10
        img.mx-auto.h-12.w-auto.rounded-full(src=thisApp.ImageUrl, alt=thisApp.name)
        h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900.
          Reset Your Password
      .mt-8.sm_mx-auto.sm_w-full.sm_max-w-md
        .bg-white.py-8.px-4.shadow.sm_rounded-lg.sm_px-10
          form(action='/user/reset-password' + (redirect ? "?redirect=" + redirect : ""), method='POST')
            div
              input(type='text', name='userId', value=userId hidden)
              input(type='text', name='resetToken', value=resetToken hidden)
              label.block.text-sm.font-medium.leading-5.text-gray-700(for='email').
                New Password
              .mt-1.rounded-md.shadow-sm
                input(placeholder='Please enter your new password', required=true, name='newPassword', type='password', value='')#email.appearance-none.block.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.focus_outline-none.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_text-sm.sm_leading-5
            .mt-6
              label.block.text-sm.font-medium.leading-5.text-gray-700(for='password').
                Re-enter New Password
              .mt-1.rounded-md.shadow-sm
                input(placeholder='Re-enter your password to confirm', required=true, name='confirmPassword', type='password', value='')#password.appearance-none.block.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.focus_outline-none.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_text-sm.sm_leading-5
            .mt-6
              span.block.w-full.rounded-md.shadow-sm
                button.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.duration-150.ease-in-out(type='submit').
                  Submit
          .mt-4.grid.grid-cols-4.gap-y-6.gap-x-4.sm_grid-cols-6
            if success_message
              .sm_col-span-6
                .rounded-md.bg-green-50.p-4.mb-2
                  .flex
                    .flex-shrink-0
                      svg.h-5.w-5.text-green-400(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor")
                        path(fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd")
                    .ml-3
                      h3.text-sm.leading-5.font-medium.text-green-800
                        | #{success_message}
