//-
  
    Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
    Read the documentation to get started: https://tailwindui.com/documentation
  
html
  head
    include common/head.pug
    +head("Sign up")
  body
    include common/simple-navbar.pug
    +simple-navbar()
    .min-h-screen.bg-gray-50.flex.flex-col.py-12.sm_px-6.lg_px-8
      .sm_mx-auto.sm_w-full.sm_max-w-md.mt-10
        img.mx-auto.h-12.w-auto.rounded-full(src=thisApp.ImageUrl, alt=thisApp.name)
        h2.mt-6.text-center.text-3xl.leading-9.font-extrabold.text-gray-900.
          Sign up
        p.mt-2.text-center.text-sm.leading-5.text-gray-600.max-w
          | Already have an account? 
          a.font-medium.text-indigo-600.hover_text-indigo-500.focus_outline-none.focus_underline.transition.ease-in-out.duration-150(href='/login').
            Sign in here
      .mt-8.sm_mx-auto.sm_w-full.sm_max-w-md
        .bg-white.py-8.px-4.shadow.sm_rounded-lg.sm_px-10
          form(action='/signup' method='POST')
            div
              label.block.text-sm.font-medium.leading-5.text-gray-700(for='email')
                | Email address
              .mt-1.rounded-md.shadow-sm
                input(placeholder='Please enter your email', required=true, name='email', type='email', value=formData.email)#email.appearance-none.block.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.focus_outline-none.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_text-sm.sm_leading-5
            .mt-6
              label.block.text-sm.font-medium.leading-5.text-gray-700(for='password').
                Password
              .mt-1.rounded-md.shadow-sm
                input(placeholder='New Password',required=true, name='password', type='password', value='')#password.appearance-none.block.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.focus_outline-none.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_text-sm.sm_leading-5
            .mt-6.flex.items-center.justify-between
              .flex.items-center
                input(type="checkbox" name="terms_agreed", checked)#remember_me.form-checkbox.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out
                label.ml-2.block.text-sm.leading-5.text-gray-900(for='remember_me')
                  | By signing up, you agree to the 
                  a(href="https://community.saasbox.net/c/saasbox/stories/SaaSBox-Terms-And-Conditions-4204056636").font-medium.text-indigo-600.hover_text-indigo-500.focus_outline-none.focus_underline.transition.ease-in-out.duration-150
                    | Terms of Service 
                  | and 
                  a(href="https://community.saasbox.net/c/saasbox/stories/SaaSBox-Privacy-Policy-7250056000").font-medium.text-indigo-600.hover_text-indigo-500.focus_outline-none.focus_underline.transition.ease-in-out.duration-150
                    | Privacy Policy
                  
              //-.text-sm.leading-5
                span.text-gray-600.text-sm Existing account? 
                a.font-medium.text-indigo-600.hover_text-indigo-500.focus_outline-none.focus_underline.transition.ease-in-out.duration-150(href="/login")
                  | Sign in
                  
            .mt-6
              span.block.w-full.rounded-md.shadow-sm
                button.w-full.flex.justify-center.py-2.px-4.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.duration-150.ease-in-out(type='submit')
                  | Sign up
                  